<!DOCTYPE html>
<html lang="en">
     <head>
          <header><%- include('partials/header'); %></header>
          <meta charset="UTF-8" />
          <meta http-equiv="X-UA-Compatible" content="IE=edge" />
          <meta
               name="viewport"
               content="width=device-width, initial-scale=1.0"
          />
          <title>Document</title>
     </head>

     <body>
          <h1>Home</h1>
          <p><%= start %></p>
          <%post.forEach(function (items) {%>
          <h1><%=items.itt%></h1>
          <p>
               <%=items.it.substring(0, 100)+"..."%><a
                    href="/post/<%=items.itt%>"
                    >Read more</a
               >
          </p>
          <% }) %>
     </body>
     <footer><%- include('partials/footer'); %></footer>
</html>
